
/* Navigation Bar*/

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Separators */

hr {
    border: none;
    border-top: 3px solid #ff2a2a;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 40%
}

hr:after {
    background: #fff;
    content: 'ยง';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/* Body */ 

h1 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 32pt;

}


img {
	width: 100%;
	height: auto;
	object-fit: contain;
	display: inline-block;
	
}

img.inline_image {
	width: 100%;
	height: auto;
	object-fit: contain;
	max-width: 85%;
	margin: auto;
	display: block;
}



h2 {
	font-family: 'Lato', sans-serif;
	color: gray;
	text-transform: uppercase;
	font-size: 12pt

}
.story_graf {
	font-family: 'Merriweather', serif;
	width: 90%;
	max-width: 40rem;
	line-height: 1.78;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.78em;

}

p.inline_image_caption {
	font-family: 'Roboto', sans-serif;
	color: #999;
	font-size: 11pt;
	width: 90%;
	max-width: 70rem;
	
	position: relative;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.78em;


}

